body {
  background-image: url("https://cdn.pixabay.com/photo/2015/02/09/09/41/background-629463_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
  height: 200vh !important;
  
}
.container {
  padding-top: 50px;
}

#title {
  text-align: center;
}

#description {
  text-align: left;
}
.box {
  padding-top: 20px;
}

.box-item {
  margin: 30px;
} 

.container {
    margin: 0;
}

.task-controls {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}

.task-controls button {
  margin: 0;
  margin-right: 20px;
}

.task-controls select {
  margin: 0;
  margin-right: 20px;
}

.task {
  position: relative;
}

.task1 {
  position: relative;
}

.task3 {
  position: relative;
}

.task5 {
  position: relative;
}

.task7 {
  position: relative;
}

.task9 {
  position: relative;
}

.task11 {
  position: relative;
}

.total {
  position: relative;
}

#tooltip {
  position: absolute;
  width: 250px;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

/* for selected element in brush area */
.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}


